### Hello Word And Comments
Berikut ini adalah code Hello Word

In [8]:
print ("Hello Word!")

Hello Word!

In [5]:
name = 'Batman' # DC's Superhero

In [6]:
# Single Line Comment
print ("Hello Word!")

Hello Word!

In [7]:
'''
Multi Lane Comman
'''
print (name)

Batman

Docstring command: dokumentasi untuk fungsi yang kita buat

In [3]:
def add (a,b):
    return a+b

In [4]:
#docs fungsi add
print (add.__doc__)

None

In [9]:
print (add(2,3))

5

In [2]:
def adx (a,b):
    print ("Hasil Penjumlahan antara %d dan %d adalah %d "  % (a,b,a+b))
    return a + b
adx(2,3)

Hasil Penjumlahan antara 2 dan 3 adalah 5

5

  ### Variable In Phyton

In [4]:
Jarak = 1000
counter = 101
nama = "Revanza "
print (counter)
print (nama)

101
Revanza

In [ ]:
# delete variable 
del counter
print (counter)

In [5]:
#Multiple Assigment
a = b = c = 100
print (a,b,c)

100 100 100

In [6]:
a,b,c = 1,2,'Revanza'
print (a,b,c)

1 2 Revanza

In [7]:
#Valid Variable Name
counter = 100
_count = 100
name1 =  'Zara'
name2 ='Reva'
Age = 21
zara_salary = 10000
nuha_salary = 100000

In [8]:
#Invalid Variable Name
1counter = 100
$_count = 100
zara-salary =100000

SyntaxError: invalid decimal literal (248264699.py, line 2)

In [9]:
#Local Variable x & y
def sum (x,y):
    sum = x + y
    return sum
print (sum(5 , 10))

15

In [12]:
#global variable
x = 5
y =  10
def sum ():
    sum = x + y
    return sum
print(sum())

15

### Data type

In [14]:
a = 100
print ("Vriable a adalah %d "% (a) )
print ("Variable a adalah" ,a,"yg tipe-nya adalah",type(a))

Vriable a adalah 100
Variable a adalah 100 yg tipe-nya adalah <class 'int'>

In [15]:
print (type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [ ]:
#String data type
str = 'Hello Word'

print (str)
print (str[0])
print (str[2 : 5])