In [3]:
import pandas as pd

In [7]:
mydataset = {
    'cars' : ['BMW','MINI','VOLVO'],
    'cc'  : [3000,4000,5000]
}

mydataframe = pd.DataFrame(mydataset, index = ['Merek-1','Merek-2','Merek-3'])
print(mydataframe)
#print(mydataframe.loc[0])

          cars    cc
Merek-1    BMW  3000
Merek-2   MINI  4000
Merek-3  VOLVO  5000

In [8]:
a = [1,2,3]
myvar = pd.Series(a, index = ['day-1','day-2','day-3'])
print(myvar)

day-1    1
day-2    2
day-3    3
dtype: int64

In [11]:
calories = {"day1" : 420,"day2" :  380 ,"day3" : 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Read Dataset

In [51]:
df = pd.read_csv('data (2).csv')
print(df)
print(df.to_string)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
<bound method DataFrame.to_string of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [10]:
df = pd.read_excel('data (2).xlsx')
print(df)

    Duration,Pulse,Maxpulse,Calories
0                   60,110,130,409.1
1                   60,117,145,479.0
2                   60,103,135,340.0
3                   45,109,175,282.4
4                   45,117,148,406.0
..                               ...
164                 60,105,140,290.8
165                 60,110,145,300.0
166                 60,115,145,310.2
167                 75,120,150,320.4
168                 75,125,150,330.4

[169 rows x 1 columns]

In [37]:
#menampilkan 10 data teratas
print(df.head(10))
#menampilkan 10 baris di bawah
print(df.tail(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [38]:
#info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [39]:
#Melihat Baris 22
print(df.loc[17])

Duration     45.0
Pulse        90.0
Maxpulse    112.0
Calories      NaN
Name: 17, dtype: float64

In [34]:
# Drop NaN
df3 = df.dropna()

In [35]:
print(df3.head(30))

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1

In [41]:
df3.reset_index(drop=True , inplace=True)
print(df3.head(20))

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        60    103       123     323.0
18        45     97       125     243.0
19        60    108       131     364.2

In [42]:
#export ke csv yang baru
df3.to_csv('data_clean.csv',index=False)

In [53]:
print(df3.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Length: 157, dtype: bool

In [47]:
df3.drop_duplicates(inplace = True)

<ipython-input-47-de9ac6306b14>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop_duplicates(inplace = True)

In [54]:
print(df3[33:36].duplicated())

33    False
37    False
39    False
dtype: bool