### Oprator Aritmatics

In [6]:
a = 21
b = 10

# Aditional 
print ("a + b : ", a + b)
print ("a - b : ", a - b)
print ("a * b : ", a * b)
print ("a / b : ", a / b)
print ("a ** b : ", a ** b)
print ("a // b : ", a // b)

a + b :  31
a - b :  11
a * b :  210
a / b :  2.1
a ** b :  16679880978201
a // b :  2

### Comparison

In [2]:
print (4==5)
print (4!=5)
print (4 > 5)
print (4 < 5)
print (4 >= 5)
print (4 <= 5)

False
True
False
True
False
True

### Assigment

In [26]:
a = 10

a+= 5
print ("a+=5",a)

a-=5
print ("a-=5",a)

a*=5
print ("a*=5",a)

a/=5
a%=3
a**=2
a //=3

a+=5 15
a-=5 10
a*=5 50

 ### Logical Oprator

In [8]:
print ((1==1) and (1>2))
print ((1==1) and not (1>2))

False
True

### Membership Oprator

In [9]:
a = [1,2,3,4,5]
print (2 in a)

True

### Desicion Making

In [19]:
b = 12
if (b == 11):
    print ("B == 11")
elif (b == 12):
    print ("B == 12")
else :
    print ("Bukan Kedua Nya")

B == 12

## Shortthand If .. Else

In [22]:
a = 11
b = 33
if a < b : print ('a lebih kecil dari b')

a lebih besar dari b

In [23]:
#Ternary Oprators
print ("A") if a > b  else print ("B")

B

In [24]:
# Nested Ternary
print ("A") if a > b  else print  ("==") if a==b else print ("B")

B

  ### While Loop

In [29]:
i = 1
while i  < 15:
    print (i)
    if i == 9 :
        break
    i += 1

1
2
3
4
5
6
7
8
9

In [31]:
i = 1
while i  < 15:
    i += 1
    if i == 9 : continue
    print (i)

2
3
4
5
6
7
8
10
11
12
13
14
15

In [32]:
films = ["Antman","Batman","Flash","Avangers"]
for  f in films:
    print (f)

Antman
Batman
Flash
Avangers

In [33]:
#String Bisa di-Looping
for c in "buah naga":
    print (c)

b
u
a
h

n
a
g
a

In [34]:
for x in range (6):
    print (x)

0
1
2
3
4
5

In [35]:
for x in range (1,21,2):
    print (x)

1
3
5
7
9
11
13
15
17
19

In [36]:
#Nested Looping
Films = ['Batman','Antman','Flash','Avengers']
rating = ['Bagus','Biasa','Perlu Perbaikan','Jelek']
for i in rating :
    for j in films :
        print (i,j)

Bagus Antman
Bagus Batman
Bagus Flash
Bagus Avangers
Biasa Antman
Biasa Batman
Biasa Flash
Biasa Avangers
Perlu Perbaikan Antman
Perlu Perbaikan Batman
Perlu Perbaikan Flash
Perlu Perbaikan Avangers
Jelek Antman
Jelek Batman
Jelek Flash
Jelek Avangers

In [37]:
#pass statment
for x in [0,1,2]:
    pass

In [38]:
a =  1 #int
b = 2.8 # FLoat
c = 3j
print (c)
print (type(c))

3j
<class 'complex'>

In [39]:
# Convert Variable
a = 2.7
b = int (a)
print (a)
print (b)

2.7
2

In [41]:
var1 = 'Hello World!'
var2 = "Hello World!"

print ("var1[0]", var1[0])

var1[0] H

In [45]:
b = "Halo Dunia!"
print (b[3:5])

o

In [46]:
print("\a")



In [48]:
print ("my name is %s an age is %d"%('Revanza',21))

my name is Revanza an age is 21

In [68]:
i = 1
while i  < 100 : 
    print ("Angka %d adalah bilangan Ganjil"%(i)) if i % 2  else print ("Angka %d adalah bilangan Genap"%(i))
    i += 1

Angka 1 adalah bilangan Ganjil
Angka 2 adalah bilangan Genap
Angka 3 adalah bilangan Ganjil
Angka 4 adalah bilangan Genap
Angka 5 adalah bilangan Ganjil
Angka 6 adalah bilangan Genap
Angka 7 adalah bilangan Ganjil
Angka 8 adalah bilangan Genap
Angka 9 adalah bilangan Ganjil
Angka 10 adalah bilangan Genap
Angka 11 adalah bilangan Ganjil
Angka 12 adalah bilangan Genap
Angka 13 adalah bilangan Ganjil
Angka 14 adalah bilangan Genap
Angka 15 adalah bilangan Ganjil
Angka 16 adalah bilangan Genap
Angka 17 adalah bilangan Ganjil
Angka 18 adalah bilangan Genap
Angka 19 adalah bilangan Ganjil
Angka 20 adalah bilangan Genap
Angka 21 adalah bilangan Ganjil
Angka 22 adalah bilangan Genap
Angka 23 adalah bilangan Ganjil
Angka 24 adalah bilangan Genap
Angka 25 adalah bilangan Ganjil
Angka 26 adalah bilangan Genap
Angka 27 adalah bilangan Ganjil
Angka 28 adalah bilangan Genap
Angka 29 adalah bilangan Ganjil
Angka 30 adalah bilangan Genap
Angka 31 adalah bilangan Ganjil
Angka 32 adalah bilangan Genap
Angka 33 adalah bilangan Ganjil
Angka 34 adalah bilangan Genap
Angka 35 adalah bilangan Ganjil
Angka 36 adalah bilangan Genap
Angka 37 adalah bilangan Ganjil
Angka 38 adalah bilangan Genap
Angka 39 adalah bilangan Ganjil
Angka 40 adalah bilangan Genap
Angka 41 adalah bilangan Ganjil
Angka 42 adalah bilangan Genap
Angka 43 adalah bilangan Ganjil
Angka 44 adalah bilangan Genap
Angka 45 adalah bilangan Ganjil
Angka 46 adalah bilangan Genap
Angka 47 adalah bilangan Ganjil
Angka 48 adalah bilangan Genap
Angka 49 adalah bilangan Ganjil
Angka 50 adalah bilangan Genap
Angka 51 adalah bilangan Ganjil
Angka 52 adalah bilangan Genap
Angka 53 adalah bilangan Ganjil
Angka 54 adalah bilangan Genap
Angka 55 adalah bilangan Ganjil
Angka 56 adalah bilangan Genap
Angka 57 adalah bilangan Ganjil
Angka 58 adalah bilangan Genap
Angka 59 adalah bilangan Ganjil
Angka 60 adalah bilangan Genap
Angka 61 adalah bilangan Ganjil
Angka 62 adalah bilangan Genap
Angka 63 adalah bilangan Ganjil
Angka 64 adalah bilangan Genap
Angka 65 adalah bilangan Ganjil
Angka 66 adalah bilangan Genap
Angka 67 adalah bilangan Ganjil
Angka 68 adalah bilangan Genap
Angka 69 adalah bilangan Ganjil
Angka 70 adalah bilangan Genap
Angka 71 adalah bilangan Ganjil
Angka 72 adalah bilangan Genap
Angka 73 adalah bilangan Ganjil
Angka 74 adalah bilangan Genap
Angka 75 adalah bilangan Ganjil
Angka 76 adalah bilangan Genap
Angka 77 adalah bilangan Ganjil
Angka 78 adalah bilangan Genap
Angka 79 adalah bilangan Ganjil
Angka 80 adalah bilangan Genap
Angka 81 adalah bilangan Ganjil
Angka 82 adalah bilangan Genap
Angka 83 adalah bilangan Ganjil
Angka 84 adalah bilangan Genap
Angka 85 adalah bilangan Ganjil
Angka 86 adalah bilangan Genap
Angka 87 adalah bilangan Ganjil
Angka 88 adalah bilangan Genap
Angka 89 adalah bilangan Ganjil
Angka 90 adalah bilangan Genap
Angka 91 adalah bilangan Ganjil
Angka 92 adalah bilangan Genap
Angka 93 adalah bilangan Ganjil
Angka 94 adalah bilangan Genap
Angka 95 adalah bilangan Ganjil
Angka 96 adalah bilangan Genap
Angka 97 adalah bilangan Ganjil
Angka 98 adalah bilangan Genap
Angka 99 adalah bilangan Ganjil

In [72]:
for i in range (1,100): 
    print ("Angka %d adalah bilangan Ganjil"%(i)) if i % 2  else print ("Angka %d adalah bilangan Genap"%(i))

Angka 1 adalah bilangan Ganjil
Angka 2 adalah bilangan Genap
Angka 3 adalah bilangan Ganjil
Angka 4 adalah bilangan Genap
Angka 5 adalah bilangan Ganjil
Angka 6 adalah bilangan Genap
Angka 7 adalah bilangan Ganjil
Angka 8 adalah bilangan Genap
Angka 9 adalah bilangan Ganjil
Angka 10 adalah bilangan Genap
Angka 11 adalah bilangan Ganjil
Angka 12 adalah bilangan Genap
Angka 13 adalah bilangan Ganjil
Angka 14 adalah bilangan Genap
Angka 15 adalah bilangan Ganjil
Angka 16 adalah bilangan Genap
Angka 17 adalah bilangan Ganjil
Angka 18 adalah bilangan Genap
Angka 19 adalah bilangan Ganjil
Angka 20 adalah bilangan Genap
Angka 21 adalah bilangan Ganjil
Angka 22 adalah bilangan Genap
Angka 23 adalah bilangan Ganjil
Angka 24 adalah bilangan Genap
Angka 25 adalah bilangan Ganjil
Angka 26 adalah bilangan Genap
Angka 27 adalah bilangan Ganjil
Angka 28 adalah bilangan Genap
Angka 29 adalah bilangan Ganjil
Angka 30 adalah bilangan Genap
Angka 31 adalah bilangan Ganjil
Angka 32 adalah bilangan Genap
Angka 33 adalah bilangan Ganjil
Angka 34 adalah bilangan Genap
Angka 35 adalah bilangan Ganjil
Angka 36 adalah bilangan Genap
Angka 37 adalah bilangan Ganjil
Angka 38 adalah bilangan Genap
Angka 39 adalah bilangan Ganjil
Angka 40 adalah bilangan Genap
Angka 41 adalah bilangan Ganjil
Angka 42 adalah bilangan Genap
Angka 43 adalah bilangan Ganjil
Angka 44 adalah bilangan Genap
Angka 45 adalah bilangan Ganjil
Angka 46 adalah bilangan Genap
Angka 47 adalah bilangan Ganjil
Angka 48 adalah bilangan Genap
Angka 49 adalah bilangan Ganjil
Angka 50 adalah bilangan Genap
Angka 51 adalah bilangan Ganjil
Angka 52 adalah bilangan Genap
Angka 53 adalah bilangan Ganjil
Angka 54 adalah bilangan Genap
Angka 55 adalah bilangan Ganjil
Angka 56 adalah bilangan Genap
Angka 57 adalah bilangan Ganjil
Angka 58 adalah bilangan Genap
Angka 59 adalah bilangan Ganjil
Angka 60 adalah bilangan Genap
Angka 61 adalah bilangan Ganjil
Angka 62 adalah bilangan Genap
Angka 63 adalah bilangan Ganjil
Angka 64 adalah bilangan Genap
Angka 65 adalah bilangan Ganjil
Angka 66 adalah bilangan Genap
Angka 67 adalah bilangan Ganjil
Angka 68 adalah bilangan Genap
Angka 69 adalah bilangan Ganjil
Angka 70 adalah bilangan Genap
Angka 71 adalah bilangan Ganjil
Angka 72 adalah bilangan Genap
Angka 73 adalah bilangan Ganjil
Angka 74 adalah bilangan Genap
Angka 75 adalah bilangan Ganjil
Angka 76 adalah bilangan Genap
Angka 77 adalah bilangan Ganjil
Angka 78 adalah bilangan Genap
Angka 79 adalah bilangan Ganjil
Angka 80 adalah bilangan Genap
Angka 81 adalah bilangan Ganjil
Angka 82 adalah bilangan Genap
Angka 83 adalah bilangan Ganjil
Angka 84 adalah bilangan Genap
Angka 85 adalah bilangan Ganjil
Angka 86 adalah bilangan Genap
Angka 87 adalah bilangan Ganjil
Angka 88 adalah bilangan Genap
Angka 89 adalah bilangan Ganjil
Angka 90 adalah bilangan Genap
Angka 91 adalah bilangan Ganjil
Angka 92 adalah bilangan Genap
Angka 93 adalah bilangan Ganjil
Angka 94 adalah bilangan Genap
Angka 95 adalah bilangan Ganjil
Angka 96 adalah bilangan Genap
Angka 97 adalah bilangan Ganjil
Angka 98 adalah bilangan Genap
Angka 99 adalah bilangan Ganjil

In [73]:
for i in range (1,100): print ("Angka %d adalah bilangan Ganjil"%(i)) if i % 2  else print ("Angka %d adalah bilangan Genap"%(i))

Angka 1 adalah bilangan Ganjil
Angka 2 adalah bilangan Genap
Angka 3 adalah bilangan Ganjil
Angka 4 adalah bilangan Genap
Angka 5 adalah bilangan Ganjil
Angka 6 adalah bilangan Genap
Angka 7 adalah bilangan Ganjil
Angka 8 adalah bilangan Genap
Angka 9 adalah bilangan Ganjil
Angka 10 adalah bilangan Genap
Angka 11 adalah bilangan Ganjil
Angka 12 adalah bilangan Genap
Angka 13 adalah bilangan Ganjil
Angka 14 adalah bilangan Genap
Angka 15 adalah bilangan Ganjil
Angka 16 adalah bilangan Genap
Angka 17 adalah bilangan Ganjil
Angka 18 adalah bilangan Genap
Angka 19 adalah bilangan Ganjil
Angka 20 adalah bilangan Genap
Angka 21 adalah bilangan Ganjil
Angka 22 adalah bilangan Genap
Angka 23 adalah bilangan Ganjil
Angka 24 adalah bilangan Genap
Angka 25 adalah bilangan Ganjil
Angka 26 adalah bilangan Genap
Angka 27 adalah bilangan Ganjil
Angka 28 adalah bilangan Genap
Angka 29 adalah bilangan Ganjil
Angka 30 adalah bilangan Genap
Angka 31 adalah bilangan Ganjil
Angka 32 adalah bilangan Genap
Angka 33 adalah bilangan Ganjil
Angka 34 adalah bilangan Genap
Angka 35 adalah bilangan Ganjil
Angka 36 adalah bilangan Genap
Angka 37 adalah bilangan Ganjil
Angka 38 adalah bilangan Genap
Angka 39 adalah bilangan Ganjil
Angka 40 adalah bilangan Genap
Angka 41 adalah bilangan Ganjil
Angka 42 adalah bilangan Genap
Angka 43 adalah bilangan Ganjil
Angka 44 adalah bilangan Genap
Angka 45 adalah bilangan Ganjil
Angka 46 adalah bilangan Genap
Angka 47 adalah bilangan Ganjil
Angka 48 adalah bilangan Genap
Angka 49 adalah bilangan Ganjil
Angka 50 adalah bilangan Genap
Angka 51 adalah bilangan Ganjil
Angka 52 adalah bilangan Genap
Angka 53 adalah bilangan Ganjil
Angka 54 adalah bilangan Genap
Angka 55 adalah bilangan Ganjil
Angka 56 adalah bilangan Genap
Angka 57 adalah bilangan Ganjil
Angka 58 adalah bilangan Genap
Angka 59 adalah bilangan Ganjil
Angka 60 adalah bilangan Genap
Angka 61 adalah bilangan Ganjil
Angka 62 adalah bilangan Genap
Angka 63 adalah bilangan Ganjil
Angka 64 adalah bilangan Genap
Angka 65 adalah bilangan Ganjil
Angka 66 adalah bilangan Genap
Angka 67 adalah bilangan Ganjil
Angka 68 adalah bilangan Genap
Angka 69 adalah bilangan Ganjil
Angka 70 adalah bilangan Genap
Angka 71 adalah bilangan Ganjil
Angka 72 adalah bilangan Genap
Angka 73 adalah bilangan Ganjil
Angka 74 adalah bilangan Genap
Angka 75 adalah bilangan Ganjil
Angka 76 adalah bilangan Genap
Angka 77 adalah bilangan Ganjil
Angka 78 adalah bilangan Genap
Angka 79 adalah bilangan Ganjil
Angka 80 adalah bilangan Genap
Angka 81 adalah bilangan Ganjil
Angka 82 adalah bilangan Genap
Angka 83 adalah bilangan Ganjil
Angka 84 adalah bilangan Genap
Angka 85 adalah bilangan Ganjil
Angka 86 adalah bilangan Genap
Angka 87 adalah bilangan Ganjil
Angka 88 adalah bilangan Genap
Angka 89 adalah bilangan Ganjil
Angka 90 adalah bilangan Genap
Angka 91 adalah bilangan Ganjil
Angka 92 adalah bilangan Genap
Angka 93 adalah bilangan Ganjil
Angka 94 adalah bilangan Genap
Angka 95 adalah bilangan Ganjil
Angka 96 adalah bilangan Genap
Angka 97 adalah bilangan Ganjil
Angka 98 adalah bilangan Genap
Angka 99 adalah bilangan Ganjil

In [75]:
# Slicing with negative indexing
s =  "halo, aq lagi belajar python for data science nih"
print (s[6:-1])
print (s[6:len(s)-1])

aq lagi belajar python for data science ni
aq lagi belajar python for data science ni

In [76]:
print (s.capitalize())

Halo, aq lagi belajar python for data science nih

In [77]:
print (s.upper())

HALO, AQ LAGI BELAJAR PYTHON FOR DATA SCIENCE NIH

In [78]:
print (s.lower())

halo, aq lagi belajar python for data science nih

In [81]:
t =s.split(',')
print (t)

['halo', ' aq lagi belajar python for data science nih']

In [82]:
a = "Hello"
b =  "World"
c = 66
d = a + ' ' + b + str(c)
print (d)

Hello World66

In [83]:
qty = 2
product = 121
harga = 500000
myorder = "saya beli produk {} sejumlah {} dengan harga produk {}"
print (myorder.format(product,qty,harga))

saya beli produk 121 sejumlah 2 dengan harga produk 500000

In [92]:
str = 'abcdefg'
print (str[::-1])
print (''.join(reversed(str)))

gfedcba
gfedcba

In [101]:
strp = " Selamat Belajar Python. Belajar Python seru banget!.I love Python"
search = "Python"
count = strp.lower().count(search.lower())
strp.count(search)
print (count)

3