### List

In [1]:
list1 = ['aaa','x',100,3.14,True]
print (list1)

['aaa', 'x', 100, 3.14, True]

In [2]:
print (list1[2])

100

In [3]:
print (list1[1:4])

['x', 100, 3.14]

In [5]:
list1[-1] = False
print(list1)

['aaa', 'x', 100, 3.14, False]

In [6]:
del list1[3]
print(list1)

['aaa', 'x', 100, False]

In [11]:
a = [1,2,3,4,5]
b = [a[0]**2,a[1]**2,a[2]**2,a[3]**2,a[4]**2]
print (b)

[1, 4, 9, 16, 25]

In [26]:
a = [1,2,3,4,5] 
b = []
for i in a:
    b.append(i**2)
    print(b)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [33]:
a = [1,2,3,4,5]; b = [pow(x,2) for x in a]
print(b)

[1, 4, 9, 16, 25]

In [31]:
#cara 1
a=[1,2,4,5]; b = [x**2 for x in a]
print(b)

[1, 4, 16, 25]

In [39]:
a1 = ['a','b','c','d']
a2 = ['d','c','b','a']
a3 = [x + y for x in a1 for y in a2]
a3

['ad',
 'ac',
 'ab',
 'aa',
 'bd',
 'bc',
 'bb',
 'ba',
 'cd',
 'cc',
 'cb',
 'ca',
 'dd',
 'dc',
 'db',
 'da']

### Tuple

In [36]:
tup  = (1,2,3,4,5)
print (tup)

(1, 2, 3, 4, 5)

In [45]:
a1 = ['a','b','c','d']
a2 = ['d','c','b','a']
c1 = zip(a1,a2)
for x,y in c1:
    print(x,y)

a d
b c
c b
d a

In [46]:
b1 = ['a','b']
b2 = ['1','2']
b3 = ['x','y']
for x,y,z in zip(b1,b2,b3): print (x,y,z)

a 1 x
b 2 y

In [49]:
tup3 = ("Apple", [1,2,3], (11,11.2, False))
tup3
tup3[-1][1]

11.2

In [50]:
tup5 = (1,2,1,3,4,5)
tup5.count(1)

2

In [51]:
print(all.__doc__)

Return True if bool(x) is True for all values x in the iterable.

If the iterable is empty, return True.

In [52]:
t = [True,True,True]
all(t)

True

In [2]:
t1 = (2,2,2)
t2 = (2,2,2)
all( elemt == t1[0] for elemt in t1 )

True

In [65]:
def checkSama(s):
    return all (x == s[0] for x in s)
# panggil fungsi 
print (checkSama(t1))
print (checkSama(t2))

False
True

In [72]:
keys = ['satu','dua','tiga']
values = [1,2,3]
dic = {}
for key in keys :
    for value in values:
        dic[key] = value
        values.remove(value)
        break
print(dic)

{'satu': 1, 'dua': 2, 'tiga': 3}

In [73]:
keys = ['a','b','c']
values = [1,2,3]
dic2 = dict(zip(keys,values))
dic2

{'a': 1, 'b': 2, 'c': 3}

In [71]:
t1 = (2,1,2,12)
s1 = set(t1)
s1

{1, 2, 12}

### Fungsion

In [ ]:
def printme(str)
    'This is String'
    print (str)